/*Stylesheet by Christian Knauer, 2/22/18*/

/* ============================================================
  Reset/Base CSS
============================================================ */
.html {
    background-color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    color: #4f3e33;
}
.body {
    margin: 0;
    padding: 0;
}
.h1, .h2, .h3 {
    margin: 1em 0;
}
/* ============================================================
  Landing Page
============================================================ */
.html--fullHeight {
    height: 100%;
}
.body--fullHeight {
    height: 100%;
}
.containerLanding {
    height: 100%;
    background-color: #4f3e33;
}
.containerLanding__backgroundTexture {
    background-image: url("img/texture_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: .45;

}
.containerLanding__screenOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.containerLanding__screenOverlay--verticalAlignContent {
    display: flex;
    align-content: center;
}
.containerLanding__screenOverlay__gridContainer {
    height: 87%;
    width: 87%;
    margin: auto;
}
.igIcon {
    height: .87em;
    width: .87em;
}
.igIcon--light {
    fill: #f3efeb;
}
.igIcon--topRight {
    float: right;
    margin-right: 1em;
}
.fbIcon {
    height: .87em;
    width: .87em;
}
.fbIcon--light {
    fill: #f3efeb;
}
.fbIcon--topRight {
    float: right;
    margin-right: 1em;
}
.twitterIcon {
    height: .87em;
    width: .87em;
}
.twitterIcon--light {
    fill: #f3efeb;
}
.twitterIcon--topRight {
    float: right;
}
.igIconMobile--hide {
    display: none;
}
.fbIconMobile--hide {
    display: none;
}
.twitterIconMobile--hide {
    display: none;
}
.h2 {
    font-size: 1.8em;
    font-weight: 400;
}
.h2--marginLanding {
    display: inline-block;
    margin-top: 7%;
    margin-left: 66%;
    margin-right: 6%;
}
.h2--clearBoth {
    clear: both;
}
.h2--lineHightLanding {
    line-height: 1.5;
}
.h2--lightAndTransparent {
    color: #f3efeb;
    opacity: .49;
}
.navLanding {
    position: relative; 
}
.navLanding--marginLanding {
    margin-top: 12.5%;
    margin-left: 75%;
}
.navLanding--upperCase {
    text-transform: uppercase;
}
.navLanding__ul {
    list-style-type: none;
    padding: 0;
    width: 30%;
}
.navLanding__markerLanding {
    height: 82%;
    position: absolute;
    border-left: .25em solid #6dc25f;
    top: 9%;
    margin-left: -.7em;
    display: flex;
    align-content: center;
    align-items: center;
}
.navLanding__a:hover {
    padding-bottom: 2px;
    border-bottom: .25em solid #6dc25f;
    transition: .1s;
}
.a {
    text-decoration: none;
    color: #4f3e33;
}
.a--light {
    color: #f3efeb;
}
.a--lineHeightLanding {
    line-height: 2.4em;
}
.body--noOverflow {
    overflow: hidden;
}
.nameLanding {
    position: absolute;
    top: 55%;
    font-family: 'Dancing Script', serif;
    font-size: 4.2em;
    letter-spacing: .30em;
    z-index: 1000;
    color: #fff;
    margin-left: 20px; 
}
.nameLanding--lastNextLine {
        display: none;
}
.imgLanding {
    -webkit-filter: drop-shadow(6px 13px 7px #4f3e33);
    filter: drop-shadow(6px 13px 7px #4f3e33);

    width: 70vh;
    position: absolute;
    bottom: 0;
    right: 40%;
}
.footerLanding {
    position: absolute;
    bottom: 6.5%;
    right: 6.5%;

    font-size: .55em;
    color: #f3efeb;
}
/* ============================================================
  Site Template Classes
============================================================ */

/* ============================================================
  About Page
============================================================ */
.container {
    margin: 2em;
    background-color: #f3efeb;
}
.name {
    font-size: 3.15em;
    font-family: 'Dancing Script', serif;
    color: #eaa673;
    margin-left: 1.27em;
}
.nav {
    float: right;
    margin-top: 2em;
    margin-right: 4em;
}
.nav__a {
    padding-left: 2.1em;
}


/* ============================================================
  Media Queries
============================================================ */
@media only screen and (max-width: 1340px), (max-height: 830px) {
    .html--landingMediaQuery {
        font-size: 18px;
    }
    .nameLanding {
        margin-left: 0px;
    }
}
@media only screen and (max-width: 1215px), (max-height: 796px) {
    .html--landingMediaQuery {
        font-size: 16px;
    }
}
@media only screen and (max-width: 1075px), (max-height: 755px) {
    .html--landingMediaQuery {
        font-size: 14px;
    }
}
@media only screen and (max-width: 904px) {
    .nameLanding--hide {
        display: none;
    }
    .nameLanding--lastNextLine {
        display: inline;
        top: 66%;
    }
}
@media only screen and (max-height: 720px) {
    .navLanding--marginLanding {
        margin-top: 5%;
    }
}
/*Mobile design*/
@media only screen and (max-width: 570px), (max-height: 585px) {
    .twitterIcon--hide {
        display: none;
    }
    .fbIcon--hide {
        display: none;
    }
    .igIcon--hide {
        display: none;
    }
    .navLanding--hide {
        display: none;
    }
    .imgLanding {
        display: none;
    }
    .containerLanding__backgroundTexture {
        display: none;
    }
    .containerLanding--orange {
    background-color: #eaa673;
    }

    .header--mobileLanding {
        position: absolute;
        top: 0;
        left: 0;
        height: 56px;
        width: 100%;
        background-color: #4f3e33;
    }
    .navBurger {
        height: 19px;
        width: 23px;
        float: right;
        margin-top: 18.5px; 
        margin-right: 16px;
    }
    .navBurger__burgerBar {
        width: 23px;
        height: 3px;
        background-color: #6dc25f;
        margin: 6px 0;
    }
    .navBurger__burgerBar--noTopMargin {
        margin-top: 0;
    }
    .nameLanding {
        position: absolute;
        top: 100px;
        font-family: 'Dancing Script', serif;
        font-size: 48px;
        letter-spacing: .30em;
        color: #fff; 
    }
    .nameLanding--lastNextLine {
        display: inline;
        top: 165px;
    }
    .nameLanding--dropShadow {
        text-shadow: 6px 13px 7px rgba(79, 62, 51, 0.16);
    }
    .h2 {
        font-size: 24px;
        font-weight: 500;
    }
    .h2--marginLanding {
        margin-top: 219px;
        margin-left: 0px;
    }
    .h2--lightAndTransparent {
        color: #f3efeb;
        opacity: 1;
    }
    .footerLanding {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 103px;
        width: 100%;
        font-size: 11px;
        color: #eaa673;
        text-align: center;
        background-color: #f3efeb;
    }
    .footerLanding__copyright {
        display: block;
        margin-top: 22px;
    }
    .igIconMobile {
        display: inline;
        height: 23px;
        width: 23px;
    }
    .igIconMobile--orange {
        fill: #eaa673;
    }
    .fbIconMobile {
        display: inline;
        height: 23px;
        width: 23px;
        margin: 24px 18px 0px 18px;
    }
    .fbIconMobile--orange {
        fill: #eaa673;
    }
    .twitterIconMobile {
        display: inline;
        height: 23px;
        width: 23px;
    }
    .twitterIconMobile--orange {
        fill: #eaa673;
    }
    /*required to hide tiny underscore*/
    .footerLanding__a {
        color: #f3efeb;
    }
}



/* ============================================================
  Module CSS
============================================================ */


/* ============================================================
  State CSS
============================================================ */


/* ============================================================
  Theme CSS
============================================================ */
