/*Stylesheet by Christian Knauer, 2/22/18*/

/* ============================================================
  Reset/Base CSS
============================================================ */
.html {
    background-color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    color: #4f3e33;
}
.body {
    margin: 0;
    padding: 0;
    position: relative; /* needed so absolute positioned up-arrow on gallery page stays on bottom of page instead of bottom of viewport*/
}
.h1, .h2, .h3 {
    margin: 1em 0;
}
/* ============================================================
  Landing Page
============================================================ */
.html--fullHeight {
    height: 100%;
}
.body--fullHeight {
    height: 100%;
}
.containerLanding {
    height: 100%;
    background-color: #4f3e33;
}
.containerLanding__backgroundTexture {
    background-image: url("img/texture_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: .45;

}
.containerLanding__screenOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.containerLanding__screenOverlay--verticalAlignContent {
    display: flex;
    align-content: center;
}
.containerLanding__screenOverlay__gridContainer {
    height: 87%;
    width: 87%;
    margin: auto;
}
.igIcon {
    height: .87em;
    width: .87em;
}
.igIcon--light {
    fill: #f3efeb;
}
.igIcon--topRight {
    float: right;
    margin-right: 1em;
}
.fbIcon {
    height: .87em;
    width: .87em;
}
.fbIcon--light {
    fill: #f3efeb;
}
.fbIcon--topRight {
    float: right;
    margin-right: 1em;
}
.twitterIcon {
    height: .87em;
    width: .87em;
}
.twitterIcon--light {
    fill: #f3efeb;
}
.twitterIcon--topRight {
    float: right;
}
.igIconMobile--hide {
    display: none;
}
.fbIconMobile--hide {
    display: none;
}
.twitterIconMobile--hide {
    display: none;
}
.h2 {
    font-size: 1.8em;
    font-weight: 400;
}
.h2--marginLanding {
    display: inline-block;
    margin-top: 7%;
    margin-left: 60%;
    margin-right: 6%;
}
.h2--clearBoth {
    clear: both;
}
.h2--lineHightLanding {
    line-height: 1.5;
}
.h2--lightAndTransparent {
    color: #f3efeb;
    opacity: .49;
}
.navLanding {
    position: relative; 
}
.navLanding--marginLanding {
    margin-top: 12.5%;
    margin-left: 75%;
}
.navLanding--upperCase {
    text-transform: uppercase;
}
.navLanding__ul {
    list-style-type: none;
    padding: 0;
    width: 30%;
}
.navLanding__markerLanding {
    height: 87%;
    position: absolute;
    border-left: .25em solid #6dc25f;
    top: 7%;
    margin-left: -.7em;
    display: flex;
    align-content: center;
    align-items: center;
}
.navLanding__a:hover {
    padding-bottom: 2px;
    border-bottom: .25em solid #6dc25f;
    transition: .1s;
}
a, .a {
    text-decoration: none;
    color: #4f3e33;
}
.a--light {
    color: #f3efeb;
}
.a--lineHeightLanding {
    line-height: 2.4em;
}
.body--noOverflow {
    overflow: hidden;
}
.nameLanding {
    position: absolute;
    top: 55%;
    font-family: 'Dancing Script', serif;
    font-size: 4.2em;
    letter-spacing: .30em;
    z-index: 1000;
    color: #fff;
    margin-left: 20px; 
}
.nameLanding--lastNextLine {
        display: none;
}
.imgLanding {
    -webkit-filter: drop-shadow(6px 13px 7px #4f3e33);
    filter: drop-shadow(6px 13px 7px #4f3e33);
    width: 70vh;
    position: absolute;
    bottom: 0;
    right: 40%;
    pointer-events: none;
}
.footerLanding {
    position: absolute;
    bottom: 6.5%;
    right: 6.5%;

    font-size: .55em;
    color: #f3efeb;
}
/* ============================================================
  Site Template Classes
============================================================ */
.h1 {
    font-size: 2.34em;
    margin: .7em 0;
}
.p {
    line-height: 1.5em;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    margin: 2em;
    background-color: #f3efeb;
}
.name {
    font-size: 3.15em;
    font-family: 'Dancing Script', serif;
    color: #eaa673;
    margin-left: 1.27em;
}
.nav {
    float: right;
    margin-top: 2em;
    margin-right: 1.8em;
    width: 26em;
    line-height: 1.1em;
    display: inline-block;
}
.nav__box {
    float: left;
    width: 20%;
}
.nav__box:hover > a {
    font-size: 1.1em; 
    transition: .1s;
    color: #eaa673;
}
.nav__box > a {
    font-size: 1em;
    transition: font-size .1s;
}
.nav--active {
    padding-bottom: 1px;
    border-bottom: .15em solid #eaa673;
}
.mobileNav {
    display: none;
}
.footer {
    height: 70px;
    box-sizing: border-box;
}
/*same color as bg-color, required to hide tiny underscore from a*/
.footer__a {
    color: #f3efeb;
}
.boxSocialMediaIcons {
    float: left;
    margin-bottom: 2em;
    margin-left: 4em;
}
.socialIcon {
    height: 1em;
    width: 1em;
    fill: #4f3e33;
    padding-right: .5em;
    transition: fill .1s;
}
.socialIcon:hover {
    transition: .1s;
    fill: rgba(79, 62, 51, .8);
}
.copyright {
    font-size: .55em;
    float: right;
    margin-top: .9em;
    margin-right: 7.27em;
}
/* ============================================================
  About Page
============================================================ */
.aboutBoxWrapper {
    max-width: 51.6em;
    max-width: 48em;
    margin: 5em auto;
}
.aboutBox {
    float: left;
    height: 24.35em;
    width: 24.8em;
    background-color: #fff;
    padding-right: 1.5em;
    padding-left: 1.5em;
    box-sizing: border-box;
}
.aboutBox--right {
    float: right;
    text-align: center;
    background-color: #f3efeb;
}
.aboutBox--shadow {
    box-shadow: 0px 15px 15.75px 5.25px rgba(191, 183, 174, 0.38); 
}
.imgAbout {
    height: 24.25em;
    width: 19.4em;
    box-shadow: 0px 15px 15.75px 5.25px rgba(191, 183, 174, 0.38);
    float: right;
}
.aboutButton {
    height: 2em;
    width: 10em;
    background-color: #eaa673;
    margin: 0 auto;
    text-align: center;
    line-height: 2em;
    border-radius: 5px;
    margin-bottom: 130px;
}
.aboutButton:hover {
    background-color: rgba(234, 166 ,115, .8);
}
.aboutButton--text {
    color: #fff;
}
.a--fullHeightWidth {
    display: block;
    height: 100%;
    width: 100%;
}
/* ============================================================
  Gallery Page1
============================================================ */
.h1--gallery1 {
    margin: 0px;
}
.wrapper {
    margin-top: 5em;
    text-align: center; 
    /* hides the horizontal overflow of the section ... needed because we made next div 200%*/
	overflow-x: hidden;
}
.imgBelt {
    width: 200%;
    position: relative;
    left: 0%;
    transition: all 800ms;
}
.imgBoxWrapper {
    margin: 5em auto 3em auto;
    max-width: 50em;
    display: flex;
    justify-content: space-between;
}
.thumb-wrap, .largeImg-wrap {
    width: 50%;
    float: left;
}
.thumb-wrap {
    margin-bottom: 130px;
}
.imgBox {
    float: left;
    height: 15em;
    width: 15em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: block;
    background-image: url(img/retro_thumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.imgBox:nth-of-type(2) {
    background-image: url(img/1com_thumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.imgBox:nth-of-type(3) {
    background-image: url(img/boxing_bag_thumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.imgBox:hover .imgBox__span  {
  bottom: 13px;
  transition: .4s;
  transition-delay: .2s;
  text-transform: uppercase;
}
.imgBox:hover .slider {
  padding-top: 10.75em;
  transition: .4s;
  transition-delay: .2s;
}
.col1 {
  float: left;
  height: 100%;
  width: 20%;
}
.col2 {
  float: left;
  height: 100%;
  width: 20%;
}
.col3 {
  float: left;
  height: 100%;
  width: 20%;
}
.col4 {
  float: left;
  height: 100%;
  width: 20%;
}
.col5 {
  float: left;
  height: 100%;
  width: 20%;
}
.slider {
  height: 4.25em;
  width: 300px;
  
  padding-top: 15em;
  background-clip: content-box;
  background-color: #eaa673;
}
.imgBox__span {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ============================================================
  Gallery Page2
============================================================ */
.largeImg-wrap {
    margin-bottom: 70px;
}
.largeImg-container {
    max-width: 700px;
    margin: 3em auto;

    /* this hides the work-container by default .. js shows it when you click on a thumb*/
	display: none;
}
/* if added img is larger than container it will still show as size of container */
.largeImg-container	img {
	max-width: 100%;
	margin-bottom: 20px;
}
.largeImg-return {
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	margin-left: -60px;
	margin-top: -3px;
	opacity: 0.5;
}
.upButton {
    position: fixed;
    /*margin-left: 625px;*/
    right: 50px;
    /*margin-top: 560px;*/
    bottom: 20px;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
    /*opacity: 0.5;*/
    z-index: 9;
}
.upButton img {
    width: 100%;
}
/* ============================================================
  Ajax content for Gallery
============================================================ */
.largeGalleryImage {
    width: 600px;
    margin: 0 auto 10px auto;
    display: block;
}
.imgCategory {
    text-align: center;
}
/* ============================================================
  Contact Page
============================================================ */
.contactBackdrop {
    height: 1184px;
    width: 1130px;
    background-color: #eaa673;
    margin: 95px auto 0px auto;
    box-shadow: 0px 0px 28.32px 19.68px rgba(210, 184, 165, 0.33);

    text-align: center;
}
.theatricContactWrapper {
    margin: 0 auto;
    height: 412px;
    width: 879px;
    text-align: left;
    margin-top: 78px;
    display: inline-block;
}
.contactFormTxtWrapper {
    width: 325px;
    /*margin-right: 25px;*/
    float: left;
}
.contactFormWrapper {
    width: 477px;
    float: right;
}
.h1--contact {
    margin: 0px 0px 26px 0px;
}
.nameEmailWrap {
    width: 100%;
    display: flex;
    justify-content: space-between; 
}
form input[type="text"],
form input[type="email"] {
    height: 47px;
    width: 222px;
    font-size: 1em;
    color: #4f3e33;
    padding-left: 13px;
    box-sizing: border-box;
    border: none;
}
form input[type="subject"],
form input[type="submit"] {
    height: 47px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 1em;
    color: #4f3e33;
    padding-left: 13px;
    border: none;
}
form input[type="submit"] {
    padding: 0;
}
form textarea {
    height: 222px;
    width: 477px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 1em;
    color: #4f3e33;
    font-family: Roboto, Arial, sans-serif;
    padding: 10px 0px 0px 13px;
    border: none;
}
form ::placeholder { /* overwrites the previously defined input-txt-color that's visible on user input*/
	color: #d1b097;
}
form input[type="submit"] {
    color: #4f3e33;
    height: 57px;
    background-color: #6dc25f;
    border: none;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #80c275;
}
.commercialsContactWrapper {
    margin: 0 auto;
    height: 412px;
    width: 879px;
    text-align: left;
    margin-top: 21px;
    display: inline-block;
}
address {
    margin-top: 34px;
    font-style: normal;
}
.linkWhite {
    color: #f3efeb;
    border-bottom: 1px solid #f3efeb;
    display: block;
    line-height: 22px;
    width: 184px;
    margin: 2px 0px;
    font-weight: 600;
}
.linkWhiteEmail {
    width: 280px;
    font-weight: 500;
}
.contactSocialMedia {
    margin: 80px auto 0px auto;
    width: 213px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 17px 15px 0 15px;
    border-top: 1px solid #eacdb8;
}
.contactSocialMedia svg {
    fill: #fff;
}
.contactSocialMedia .ig {
    height: 34px;
    width: 34px;
}
.contactSocialMedia .fb {
    height: 34px;
    width: 34px;
}
.contactSocialMedia .twitter {
    height: 34px;
    width: 34px;
}
.contactFooter {
    text-align: center;
    margin-top: 125px;
    margin-bottom: 40px;
}
.contactFooter .copyright {
    font-size: .55em;
    float: none;
    margin-top: 0px;
    margin-right: 0px;
}
/* ============================================================
  Media Queries
============================================================ */
/*Landing*/
@media only screen and (max-width: 1340px), (max-height: 830px) {
    .html--landingMediaQuery {
        font-size: 18px;
    }
    .nameLanding {
        margin-left: 0px;
    }
}
@media only screen and (max-width: 1215px), (max-height: 796px) {
    .html--landingMediaQuery {
        font-size: 16px;
    }
    .h2--marginLanding {
        margin-top: 11%;
        margin-left: 57%;
    }
}
@media only screen and (max-width: 1075px), (max-height: 755px) {
    .html--landingMediaQuery {
        font-size: 14px;
    }
}
@media only screen and (max-width: 904px) {
    .nameLanding--hide {
        display: none;
    }
    .nameLanding--lastNextLine {
        display: inline;
        top: 66%;
    }
    .h2--marginLanding {
        margin-left: 50%;
    }
}
@media only screen and (max-height: 720px) {
    .navLanding--marginLanding {
        margin-top: 5%;
    }
}
/*Mobile design -- Landing*/
@media only screen and (max-width: 570px), (max-height: 600px) {
    .mobileNav {
        position: absolute;
        left: 50%;
        top: 250px;
        transform: translate(-50%, -50%);
        width: 85%;
        height: 357px;
        z-index: 9999;
        opacity: 0;
        background: #4f3e33;
        text-align: center;
        display: block;
        pointer-events: none;
    }
    .mobileNav.is-active {
        opacity: .95;
        transition: all .3s ease-in-out;
        pointer-events: auto;
    }
    .mobileNav a {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        display: block;
        margin-top: 40px;
    }
    .mobileNav a:hover {
        color: #6dc25f;
    }
    #mobileNavSelected {
        color: #6dc25f;
    }
    .containerLanding__screenOverlay__gridContainer {
        margin-top: 22px;
    }
    .twitterIcon--hide {
        display: none;
    }
    .fbIcon--hide {
        display: none;
    }
    .igIcon--hide {
        display: none;
    }
    .navLanding--hide {
        display: none;
    }
    /*.imgLanding {
        display: none;
    }*/
    /*.containerLanding__backgroundTexture {
        display: none;
    }*/
    /*.containerLanding--orange {
    background-color: #eaa673;
    }*/
    /*.header--mobileLanding {
        position: absolute;
        top: 0;
        left: 0;
        height: 56px;
        width: 100%;
        background-color: #4f3e33;
    }*/
    .navBurger {
        height: 19px;
        width: 27px;
        float: right;
        margin-top: 25px; 
        margin-right: 17px;
        cursor: pointer;
    }
    .navBurger--index {
        margin-top: 10px; 
        margin-right: 7px;
    }
    .navBurger__burgerBar {
        width: 27px;
        height: 3px;
        background-color: #6dc25f;
        margin: 6px 0;
    }
    .navBurger__burgerBar--noTopMargin {
        margin-top: 0;
    }
    /* START animation section for nav-burger*/
    .navBurger.is-active .navBurger__burgerBar:nth-child(2) {
        opacity: 0;
    }
    .navBurger.is-active .navBurger__burgerBar:nth-child(1){
        -webkit-transform: translateY(11px) rotate(45deg);
        -ms-transform: translateY(11px) rotate(45deg);
        -o-transform: translateY(11px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }
    .navBurger.is-active .navBurger__burgerBar:nth-child(3){
        -webkit-transform: translateY(-11px) rotate(-45deg);
        -ms-transform: translateY(-11px) rotate(-45deg);
        -o-transform: translateY(-11px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }
    .navBurger__burgerBar {
        width: 27px;
        height: 3px;
        /*background-color: #ecf0f1;
        display: block;
        margin: 8px auto;*/
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    /* END animation section form nav-burger*/
    .imgLanding {
        -webkit-filter: drop-shadow(6px 13px 7px #4f3e33);
        filter: drop-shadow(6px 13px 7px #4f3e33);
        width: 65vh;
        position: absolute;
        bottom: 80px;
    }
    .imgOverlay--white {
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: .15;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    .centerWrapper {
        position: absolute;
        left: 50%;
        pointer-events: none;
    }
    .mobileBlackBoxBg {
        height: 78px;
        width: 280px;
        margin-top: 95%;
        z-index: 999;
        /*needed to center absolute div, works w previous rule*/
        position: relative;
        left: -50%;
        background-color: rgba(0, 0, 0, 0.57);
    }
    .mobileBlackBoxBg.is-active {
        opacity: .3;
    }
    .h2 {
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        top: -213px;
        left: 14px;
        line-height: 1.6;
    }
    .h2--marginLanding {
        margin-top: 219px;
        margin-left: 0px;
    }
    .h2--lightAndTransparent {
        color: #f3efeb;
        opacity: 1;
    }
    .mobileBlackBoxBg--name {
        height: 130px;
        width: 300px;
        margin-top: 120%;
    }
    .nameLanding {
        position: relative;
        top: 6px;
        left: 14px;
        font-family: 'Dancing Script', serif;
        font-size: 48px;
        letter-spacing: .30em;
        color: #fff; 
    }
    .nameLanding--hide {
        display: none;
    }
    .nameLanding--lastNextLine {
        display: inline;
        top: 3px;
    }
    .footerLanding {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 80px;
        width: 100%;
        font-size: 11px;
        color: #4f3e33;
        text-align: center;
        background-color: #f3efeb;
    }
    /*needed to center absolute div, works w previous centerWrapper*/
    .socialWrapper {
        position: relative;
        left: -50%;
        top: 20px;
    }
    .footerLanding__copyright {
        display: block;
        margin-top: 16px;
    }
    .igIconMobile {
        display: inline;
        height: 18px;
        width: 18px;
    }
    .igIconMobile--orange {
        fill: #4f3e33;
    }
    .fbIconMobile {
        display: inline;
        height: 18px;
        width: 18px;
        margin: 24px 18px 0px 18px;
    }
    .fbIconMobile--orange {
        fill: #4f3e33;
    }
    .twitterIconMobile {
        display: inline;
        height: 18px;
        width: 18px;
    }
    .twitterIconMobile--orange {
        fill: #4f3e33;
    }
    /*same color as bg-color, required to hide tiny underscore from a*/
    /*.footerLanding__a {
        color: #f3efeb;
    }*/
}
@media only screen and (max-height: 600px) {
    .mobileBlackBoxBg {
        margin-top: 68%;
    }
    .mobileBlackBoxBg--name {
        margin-top: 93%;
    }
}
@media only screen and (max-width: 550px) {
    .imgLanding {
        left: -22%;
    }
}
@media only screen and (max-height: 510px) {
    .mobileBlackBoxBg {
        margin-top: 52%;
    }
    .mobileBlackBoxBg--name {
        height: 100px;
        margin-top: 77%;
    }
    .nameLanding {
        left: 25px;
        font-size: 38px;
    }
}
@media only screen and (max-height: 440px) {
    .mobileBlackBoxBg {
        margin-top: 41%;
    }
    .mobileBlackBoxBg--name {
        height: 100px;
        margin-top: 67%;
    }
    .nameLanding {
        left: 25px;
        font-size: 38px;
    }
}
@media only screen and (max-height: 410px) {
    .mobileBlackBoxBg {
        display: none;
    }
    .mobileBlackBoxBg--name {
        display: block;
        height: 100px;
        margin-top: 38%;
    }
    .nameLanding {
        left: 25px;
        font-size: 38px;
    }
}
/*Media Queries -- Header & Navigation*/
@media only screen and (max-width: 1150px) {
    .html--aboutMediaQuery,
    .html--galleryMediaQuery,
    .html--contactMediaQuery {
        font-size: 18px;
    }
}
@media only screen and (max-width: 1030px) {
    .header--about,
    .header--gallery,
    .header--contact {
        text-align: center;
    }
    .nav {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .name {
        margin: 0 auto;
        margin-top: .3em;
        display: inline-block;
    }
}
@media only screen and (max-width: 1030px) {
    .container {
        margin: 1em;
    }
    .name {
        display: block;
    }
}
/*Mobile design -- Header*/
@media only screen and (max-width: 570px) {
    .header--about,
    .header--gallery,
    .header--contact {
        text-align: left;
    }
    .container {
        margin: .5em;
    }
    .name {
        font-size: 36px;
        font-weight: 600;
        margin-left: 20px;
        display: inline-block;
    }
    .nav {
        display: none;
    }
    .navBurger {
        height: 19px;
        width: 27px;
        float: right;
        margin-top: 25px; 
        margin-right: 17px;
        cursor: pointer;
    }
}
/*Media Queries -- About Page*/
@media only screen and (max-width: 1150px) {
    .aboutBoxWrapper {
        max-width: 46em;
        /*margin: 5em auto;
        margin: 2em auto;*/
    }
}
@media only screen and (max-width: 1030px) {
    .aboutBoxWrapper {
        margin-top: 3em;
    }
}
@media only screen and (max-width: 920px) {
    .aboutBoxWrapper {
        font-size: 16px;
        margin-bottom: 3.5em;
    }
}
@media only screen and (max-width: 815px) {
    .aboutBoxWrapper div {
        font-size: 14px;
        margin-right: 15px;
    }
    .aboutBox {
        max-width: 54%;
        margin-left: 15px;
        padding: 0 1.3em;
    }
    .aboutBox h1 {
        margin: .3em 0;
    }
}
@media only screen and (max-width: 720px) {
    .aboutBoxWrapper {
        text-align: center;
        font-size: 20px;
        margin-bottom: 0;
    }
    .aboutBoxWrapper div {
        font-size: inherit;
        margin: 0px;
    }
    .imgAbout {
        float: none;
        box-shadow: none;
        margin-top: -25px;
    }
    .aboutBox {
        float: none;
        text-align: left;
        margin: 0 auto;
        margin-top: -5px;
        box-shadow: none;
        max-width: none;
        max-width: 388px;
    }
    .aboutBox h1 {
        margin: .7em 0;
        display: inline-block;
    }
    .aboutBox p {
        line-height: 1.7em;
        margin-top: 0px;
    }
    .aboutBox p:nth-of-type(2) {
        padding-bottom: 25px;
        margin-bottom: 0;
    }
    .aboutButton {
        margin-top: 45px;
    }
}
@media only screen and (max-width: 420px) {
    /*sets img and aboutBox to 100% and maintains aspect ratio*/ 
    .imgAbout, .aboutBox {
        width: 100%;
        height: auto;
    }
    .aboutButton {
        width: 75%;
        height: 3em;
    }
    .aboutButton--text {
        line-height: 3em;
    }
    .boxSocialMediaIcons, .copyright {
        float: none;
        margin: 0;
        margin-bottom: 30px;
        text-align: center;
        display: block;
    }
    .socialIcon {
        padding-right: 15px;
    }
    .boxSocialMediaIcons a:nth-child(3) .socialIcon {
        padding: 0;
    }
}
@media only screen and (max-width: 330px) {
    .name {
        font-size: 30px;
        margin-top: 15px;
        margin-left: 17px;
    }
}
/*Media Queries -- Gallery1*/
@media only screen and (max-width: 1030px) {
    .wrapper, .imgBoxWrapper {
        margin-top: 3em;
    }
}
@media only screen and (max-width: 950px) {
    .imgBoxWrapper {
        display: inline-block;
    }
    .imgBox {
        float: none;
        display: inline-block;
    }
    .imgBox:nth-of-type(1) {
        margin-right: 45px;
    }
    .imgBox:nth-of-type(3) {
        display: block;
        margin: 45px auto 0px auto;
    }
}
@media only screen and (max-width: 660px) {
    .imgBox {
        display: block;
        margin: 45px auto 0px auto;
    }
    .imgBox:nth-of-type(1) {
        margin-top: 0px;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 310px) {
    .imgBox {
        width: 220px;
        height: 220px;
    }
    .imgBox:hover .slider {
        padding-top: 150px;
    }
}
/*Media Queries -- Gallery2*/
@media only screen and (max-width: 880px) {
    .largeImg-return {
        margin-left: 15px;
        margin-top: 15px;
    }
}
/*media queries form first ajax-object. first gallery section.*/
#object1 {
    height: 13900px;
    width: 100%;
}
#object2 {
    height: 3825px;
    width: 100%;
}
#object3 {
    height: 3839px;
    width: 100%;
}
/*following four media queries area a pair*/
@media only screen and  (max-width: 600px) {
    .largeGalleryImage {
        width: 400px;
    }
}
@media only screen and  (max-width: 653px) {
    #object1 {
        height: 9365px;
    }
}
@media only screen and  (max-width: 653px) {
    #object2 {
        height: 2612px;
    }
}
/*following four media queries area a pair*/
@media only screen and  (max-width: 400px) {
    .largeGalleryImage {
        width: 350px;
    }
}
@media only screen and  (max-width: 435px) {
    #object1 {
        height: 8233px;
    }
}
@media only screen and  (max-width: 435px) {
    #object2 {
        height: 2309px;
    }
}
/*following four media queries area a pair*/
@media only screen and (max-width: 349px) {
    .largeGalleryImage {
        width: 300px;
    }
}
@media only screen and  (max-width: 384px) {
    #object1 {
        height: 7097px;
    }
}
@media only screen and  (max-width: 384px) {
    #object2 {
        height: 2009px;
    }
}
/*following four media queries area a pair*/
@media only screen and (max-width: 310px) {
    .largeGalleryImage {
        width: 254px;
    }
}
@media only screen and  (max-width: 345px) {
    #object1 {
        height: 6060px;
    }
}
@media only screen and  (max-width: 345px) {
    #object2 {
        height: 1725px;
    }
}


/* ============================================================
  Module CSS
============================================================ */


/* ============================================================
  State CSS
============================================================ */


/* ============================================================
  Theme CSS
============================================================ */
